div.login {
    margin-left: 3%;
    margin-right: 3%;
}

.logo{
    width: 300px;
    height: 335px;
}

ion-icon{
    width: 400px;
    height: 400px;
    display: flex;
    margin-left: -3%;
    color: transparent;
}
