<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Dashboard
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="intervalo">
      <ion-card-content>
          <p>Filtrar pelos ultimos:</p>
          <div class="buttons">
              <ion-button class="btn_intervalo" shape="round" (click)='updateGraphics(60)'>60m</ion-button>
              <ion-button class="btn_intervalo" shape="round" (click)='updateGraphics(30)'>30m</ion-button>
              <ion-button class="btn_intervalo" shape="round" (click)='updateGraphics(15)'>15m</ion-button>
              <ion-button class="btn_intervalo" shape="round" (click)='updateGraphics(5)'>5m</ion-button>
          </div>
      </ion-card-content>
  </ion-card>
  
  <ion-card class="chart" *ngFor="let sensor of sensores">
    <ion-card-header class="chart_header">
      <ion-card-title class="title">{{ sensor.nome }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div scrollX="true" style="width:630px;">
        <canvas id="chart-{{ sensor.id }}"></canvas>
        <p style="min-width:310px;">&nbsp;</p>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
